# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat build artifacts
/artifacts

# Hardhat compilation cache
/cache

# Typechain output
/types
/typechain
/typechain-types

# Environment files
.env
.env.*
!.env.example

# Coverage reports
/coverage
/coverage.json

# Gas snapshot files
/.gas-snapshot

# Snapshot cheatcodes output
/snapshots

# Optional IDE / OS files
.DS_Store
.vscode/
.idea/
sepolia_deployment.txt
